* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow: hidden; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 60em) {
    html {
      font-size: 43.75%; } }

body {
  font-family: "Water Brush", cursive; }

.logo {
  font-size: 4rem;
  padding: 4rem;
  position: absolute;
  top: 0;
  right: 0; }

.grid-container {
  background-color: rgba(18, 18, 18, 0.715);
  height: 100vh;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  position: relative; }
  @media only screen and (max-width: 50em) {
    .grid-container {
      grid-template-columns: 6rem 1fr;
      grid-template-rows: 1fr; } }

footer {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  letter-spacing: 2px; }

.heading-primary {
  font-size: 5.2rem;
  font-weight: 400;
  font-family: "Artifika", serif;
  text-transform: uppercase; }
  @media only screen and (max-width: 60em) {
    .heading-primary {
      font-size: 4.4rem; } }
  @media only screen and (max-width: 20em) {
    .heading-primary {
      font-size: 3.2rem; } }

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem; }
  .home__bg-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    opacity: 0.6;
    width: 100%;
    height: 100%; }
    .home__bg-video video {
      object-fit: cover;
      width: 100%;
      height: 100vh; }
  .home__text-box {
    font-size: 32rem;
    text-align: center; }
    @media only screen and (max-height: 31.25em) {
      .home__text-box {
        font-size: 20rem; } }
  .home__letters {
    -webkit-text-stroke: 1px #fff30b; }
    .home__letters--2 {
      font-size: 10rem;
      opacity: 1; }
  .home__heading {
    margin: -7rem 0 3rem 0; }
  .home__buttons {
    display: flex;
    gap: 2rem; }

.navigation {
  font-family: "Artifika", serif;
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 99; }
  @media only screen and (max-width: 50em) {
    .navigation {
      position: absolute;
      top: 0;
      left: 0; } }
  .navigation__list {
    list-style: none;
    display: flex;
    transform: translateX(-9.5rem);
    cursor: pointer; }
    @media only screen and (max-width: 50em) {
      .navigation__list {
        flex-direction: column; } }
  .navigation__item {
    width: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.7s ease-in-out;
    background-size: cover;
    background-position: center;
    opacity: 0;
    padding-bottom: 8rem;
    border-right: 0.7px solid #fff30b; }
    @media only screen and (max-width: 50em) {
      .navigation__item {
        width: 100vw;
        height: 16.66666vh;
        justify-content: center;
        padding-bottom: 0; } }
  .navigation__menubar {
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 100vh;
    z-index: 999;
    display: flex;
    background: linear-gradient(to top, rgba(128, 128, 128, 0.875) 20%, rgba(128, 128, 128, 0.675) 40%, rgba(128, 128, 128, 0.475) 60%, rgba(128, 128, 128, 0.175) 100%);
    transition: background 3s; }
    .navigation__menubar svg {
      margin: 0.7rem; }
    .navigation__menubar-icon {
      stroke: #000;
      widows: 100%;
      stroke-width: 0;
      transition: all 1s; }
  .navigation__home {
    background-image: linear-gradient(to top, rgba(128, 128, 128, 0.875) 20%, rgba(128, 128, 128, 0.675) 40%, rgba(128, 128, 128, 0.475) 60%, rgba(128, 128, 128, 0.175) 100%), url(../img/home.jpg); }
  .navigation__gallery {
    background-image: linear-gradient(to top, rgba(128, 128, 128, 0.875) 20%, rgba(128, 128, 128, 0.675) 40%, rgba(128, 128, 128, 0.475) 60%, rgba(128, 128, 128, 0.175) 100%), url(../img/gallery.jpg); }
  .navigation__price {
    background-image: linear-gradient(to top, rgba(128, 128, 128, 0.875) 20%, rgba(128, 128, 128, 0.675) 40%, rgba(128, 128, 128, 0.475) 60%, rgba(128, 128, 128, 0.175) 100%), url(../img/pice.jpg); }
  .navigation__about-us {
    background-image: linear-gradient(to top, rgba(128, 128, 128, 0.875) 20%, rgba(128, 128, 128, 0.675) 40%, rgba(128, 128, 128, 0.475) 60%, rgba(128, 128, 128, 0.175) 100%), url(../img/about-us.jpg); }
  .navigation__reviews {
    background-image: linear-gradient(to top, rgba(128, 128, 128, 0.875) 20%, rgba(128, 128, 128, 0.675) 40%, rgba(128, 128, 128, 0.475) 60%, rgba(128, 128, 128, 0.175) 100%), url(../img/comment.jpg); }
  .navigation__contact-us {
    background-image: linear-gradient(to top, rgba(128, 128, 128, 0.875) 20%, rgba(128, 128, 128, 0.675) 40%, rgba(128, 128, 128, 0.475) 60%, rgba(128, 128, 128, 0.175) 100%), url(../img/contact-us.jpg); }
  .navigation-active .navigation__menubar {
    background: transparent; }
  .navigation-active .navigation__item {
    width: 15rem;
    height: 100vh;
    transform: translateX(9.5rem);
    opacity: 1; }
    .navigation-active .navigation__item:hover {
      transform: translateX(9.5rem) scale(1.1);
      box-shadow: -1rem 0 60rem rgba(255, 215, 0, 0.8); }
    @media only screen and (max-width: 87.5em) {
      .navigation-active .navigation__item {
        width: 12rem; } }
    @media only screen and (max-width: 50em) {
      .navigation-active .navigation__item {
        width: 16.66vw; } }
    @media only screen and (max-width: 37.5em) {
      .navigation-active .navigation__item {
        width: 50vw;
        height: 16.666666vh; } }
  .navigation-active .navigation__menubar-icon {
    stroke: #fff30b;
    stroke-width: 0; }
  .navigation__text {
    font-size: 1.6rem;
    text-transform: capitalize; }
    @media only screen and (max-width: 37.5em) {
      .navigation__text {
        font-size: 1.2rem; } }
    @media only screen and (max-width: 20em) {
      .navigation__text {
        font-size: 1rem; } }
  .navigation__svg {
    width: 6rem;
    height: 6rem; }
    .navigation__svg:hover {
      cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .navigation__svg {
        width: 4.4rem;
        height: 4.4rem; } }
    @media only screen and (max-width: 20em) {
      .navigation__svg {
        width: 3.6rem;
        height: 3.6rem; } }

.btn {
  background: none;
  border: none;
  border-radius: 0;
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem 4rem;
  border-radius: 50px;
  cursor: pointer;
  position: relative; }
  @media only screen and (max-width: 20em) {
    .btn {
      padding: 2rem; } }
  .btn--contact {
    background-color: #fff30b;
    transition: all 0.6s; }
  .btn--contact::after {
    content: "";
    display: inline-block;
    background-color: #fff30b;
    width: 0;
    height: 2px;
    border-radius: 50px;
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: all 1s; }
  .btn--contact:hover {
    color: #fff30b;
    background-color: #000; }
    .btn--contact:hover::after {
      width: 65%; }
  .btn--pricing {
    box-shadow: inset 0 0 3px #fff30b;
    transition: all 0.6s; }
    .btn--pricing:hover {
      background-color: rgba(221, 210, 3, 0.642); }
